.cart-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    .cart-container__head {
        display: flex;
        flex-direction: column;
        padding: 0.5rem 1.5rem;

        select.currency-selector {
            padding: 0.5rem 0.5rem;
            width: max-content;
        }
    }

    .cart-container__body {
        flex: 1;
        display: flex;
        flex-direction: column;
        padding: 0.5rem 1.5rem;
        overflow: scroll;

        > {
            :not(:last-child) {
                margin-bottom: 1rem;
            }
        }
    }

    .cart-container__footer {
        display: flex;
        flex-direction: column;
        padding: 2rem 1.5rem;
    }
}
