.cart-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: auto;
    overflow-y: hidden;

    .cart-container__head {
        display: flex;
        flex-direction: column;
        padding: 0.5rem 1.5rem;

        select.currency-selector {
            padding: 0.5rem 0.5rem;
            width: max-content;
        }
    }

    .cart-container__body {
        flex: 1;
        display: flex;
        flex-direction: column;
        padding: 0.5rem 1.5rem;
        padding-bottom: 2rem;
        overflow-y: auto;

        .noitems-container {
            width: 100%;
            text-align: center;
            font-size: 0.9rem;
            line-height: 1.1rem;
        }

        > {
            :not(:last-child) {
                margin-bottom: 1rem;
            }
        }
    }

    .cart-container__footer {
        display: flex;
        flex-direction: column;
        padding: 2rem 1.5rem;
        box-shadow: 0 -4px 12px rgb(0 0 0 / 15%);

        .subtotal-container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 1.5rem;

            span.subtotal {
                font-size: 0.8rem;
                line-height: 1rem;
            }

            span.total-price {
                font-size: 1rem;
                line-height: 1.2rem;
                color: #000;
            }
        }

        button.checkout {
            font-size: 1rem;
            font-weight: 400;
            text-transform: uppercase;
        }
    }
}
